* {
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0 15px;
}
.menu-icon{
  color: black;
  float: right;
  font-size: 25px;
  padding: 18px 0;
}
header{
  height: 65px;
  width: 100%;
  background-color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.top-wrapper{
  height: 602px;
  background-position: center;
  background-image: url("https://i.gyazo.com/ba8142bb94acb46ecf4802b61379f030.jpg");
  background-size: cover;
  text-align: center;
}
.top-wrapper h1{
  color: black;
  padding-top: 300px;
  font-family: 'Zeyada', cursive;
  font-size: 45px;
  letter-spacing: 2px;
}
